<a href="https://colab.research.google.com/github/Rajeev-12/2025-26_DS_CSA-B_Rajeev_160724754100/blob/main/datastructures_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# TUPLE OPERATIONS

# Creating tuples
tuple = (15, 20, 30,60, 20)
print("tuple", tuple)

# Accessing elements
print("First element:", tuple[0])
print("Last element:", tuple[4])

# Slicing
print("Sliced tuple:", tuple[1:4])

# Length
print("Length of tuple:", len(tuple))

# Counting elements
print("Count of 20:", tuple.count(20))

# Finding index
print("Index of 40:", tuple.index(15))

# Looping
print("Tuple elements:")
for item in tuple:
    print(item)

# Concatenation
t2 = (50, 70)
t3 = tuple + t2
print("After concatenation:", t3)

# Nested tuple
nested = (1, (2, 3), (4, 5))
print("Nested tuple element:", nested[1][0])

tuple (15, 20, 30, 60, 20)
First element: 15
Last element: 20
Sliced tuple: (20, 30, 60)
Length of tuple: 5
Count of 20: 2
Index of 40: 0
Tuple elements:
15
20
30
60
20
After concatenation: (15, 20, 30, 60, 20, 50, 70)
Nested tuple element: 2

In [8]:
# DICTIONARY OPERATIONS

# Creating a dictionary
d = {
    "name": "Rajeev",
    "age": 19,
    "course": "BTech"
}
print("Original dictionary:", d)

# Accessing values
print("Name:", d["name"])
print("Age:", d.get("age"))

# Adding a new key-value
d["college"] = "XYZ University"
print("After adding:", d)

# Updating value
d["age"] = 21
print("After updating:", d)

# Removing elements
d.pop("course")
print("After pop:", d)

removed_item = d.popitem()
print("After popitem:", d)
print("Removed item:", removed_item)

# Keys, values, items
print("Keys:", d.keys())
print("Values:", d.values())
print("Items:", d.items())

# Length
print("Length of dictionary:", len(d))

# Updating using update()
d.update({"city": "Hyderabad", "age": 22})
print("After update():", d)

# Nested dictionary
student = {
    "id": 1,
    "info": {
        "name": "sumit",
        "marks": 95
    }
}
print("Nested dictionary value:", student["info"]["marks"])

# Clearing dictionary
d.clear()
print("After clear:", d)

Original dictionary: {'name': 'Rajeev', 'age': 19, 'course': 'BTech'}
Name: Rajeev
Age: 19
After adding: {'name': 'Rajeev', 'age': 19, 'course': 'BTech', 'college': 'XYZ University'}
After updating: {'name': 'Rajeev', 'age': 21, 'course': 'BTech', 'college': 'XYZ University'}
After pop: {'name': 'Rajeev', 'age': 21, 'college': 'XYZ University'}
After popitem: {'name': 'Rajeev', 'age': 21}
Removed item: ('college', 'XYZ University')
Keys: dict_keys(['name', 'age'])
Values: dict_values(['Rajeev', 21])
Items: dict_items([('name', 'Rajeev'), ('age', 21)])
Length of dictionary: 2
After update(): {'name': 'Rajeev', 'age': 22, 'city': 'Hyderabad'}
Nested dictionary value: 95
After clear: {}

In [9]:
# SET OPERATIONS
s1 = {15, 20, 30, 40}
s2 = {30, 40, 5, 60}
print("Union:", s1.union(s2))
print("Intersection:", s1.intersection(s2))
print("Difference:", s1.difference(s2))
print("Symmetric difference:", s1.symmetric_difference(s2))

Union: {5, 40, 15, 20, 60, 30}
Intersection: {40, 30}
Difference: {20, 15}
Symmetric difference: {5, 15, 20, 60}

In [13]:
# LIST OPERATIONS

# Creating a list
lst = [10, 20, 30, 40]
print("Initial list:", lst)

# Accessing elements
print("First element:", lst[0])
print("Last element:", lst[-1])

# Adding elements
lst.append(50)
print("After append:", lst)

lst.insert(2, 25)
print("After insert:", lst)

lst.extend([60, 70])
print("After extend:", lst)

# Removing elements
lst.remove(25)
print("After remove:", lst)

lst.pop()
print("After pop:", lst)

lst.pop(1)
print("After pop at index 1:", lst)

# Updating element
lst[0] = 100
print("After updating:", lst)

# Searching
print("Index of 30:", lst.index(30))
print("Count of 20:", lst.count(20))

# Sorting
lst.sort()
print("After sort:", lst)

lst.sort(reverse=True)
print("After reverse sort:", lst)

# Reversing
lst.reverse()
print("After reverse:", lst)

# Length
print("Length of list:", len(lst))

#minimum
a=min(lst)
print("minimum value:",a)

#maximum
b=max(lst)
print("maximum",b)

Initial list: [10, 20, 30, 40]
First element: 10
Last element: 40
After append: [10, 20, 30, 40, 50]
After insert: [10, 20, 25, 30, 40, 50]
After extend: [10, 20, 25, 30, 40, 50, 60, 70]
After remove: [10, 20, 30, 40, 50, 60, 70]
After pop: [10, 20, 30, 40, 50, 60]
After pop at index 1: [10, 30, 40, 50, 60]
After updating: [100, 30, 40, 50, 60]
Index of 30: 1
Count of 20: 0
After sort: [30, 40, 50, 60, 100]
After reverse sort: [100, 60, 50, 40, 30]
After reverse: [30, 40, 50, 60, 100]
Length of list: 5
minimum value: 30
maximum 100